{% extends 'main/base.html' %}
{% block content %}
    {% for favourite in favourite_games %}
								<div class="col-md-4">
									<div class="game-news">
										<div class="img-container">
											<a href="{% url 'game_details' favourite.id %}"><img src="{{favourite.main_image.url}}" alt="">
												<div class="overlay">
													<span>
														<div id="myDIV">
															<h1>{{favourite.title}}</h1>
														</div>
													</span>
												</div>
											</a>
										</div>
									</div>
								</div>
    {% empty %}
        <h1>Empty</h1>
    {% endfor %}
{% endblock %}
