{% extends 'main/base.html' %}
{% block content %}

					{% for game in games %}
					<div class="col-md-4">
						<div class="game-news">
							<div class="img-container">
								<a href="{% url 'game_details' game.id %}"><img src="{{game.main_image.url}}" alt="">
									<div class="overlay">
										<span>
											<div id="myDIV">
												<h1>{{game.title}}</h1>
											</div>
										</span>
									</div>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
{% endblock %}
